{# ========================================================================== #
 # BigFish top navigation for the default page template.                      #
 #                                                                            #
 # @copyright Copyright (c) 2015 BigFish                                      #
 # @license   MIT                                                             #
 # ========================================================================== #}

{# ---------------------------------------------------------- NAV ----------- #}

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#">Project name</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">

{% if user is defined and user.id is not null %}
<button class="btn"><i class="fa fa-user fa-lg"></i> {{ user.name }}</button>
<button class="btn"><i class="fa fa-sign-out fa-lg"></i> Sign out</button>
{% else %}
				<form class="navbar-form navbar-right">
<div class="form-group">
	<input type="text" placeholder="Email" class="form-control">
</div>
<div class="form-group">
	<input type="password" placeholder="Password" class="form-control">
</div>
<button type="submit" class="btn btn-success"><i class="fa fa-sign-in fa-lg"></i> Sign in</button>
				</form>
{% endif %}

			</div><!--/.navbar-collapse -->
		</div>
	</nav>
