{# ========================================================================== #
 # BigFish default index page content template.                               #
 #                                                                            #
 # @copyright Copyright (c) 2015 BigFish                                      #
 # @license   MIT                                                             #
 # ========================================================================== #}
{# ---------------------------------------------------------- EXTENDS ------- #}
{% extends 'pages/layouts/jumbotron.html.twig' %}

{% set title %}{# ------------------------------------------- TITLE --------- #}
Bigfish default index page
{% endset %}

{% set description %}{# ------------------------------------- DESCRIPTION --- #}
{% endset %}

{% block head %}{# ------------------------------------------ HEAD ---------- #}
{{ parent() }}
{% endblock head %}

{% set jumbotron = true %}{% block jumbotron %}{# ----------- JUMBOTRON ----- #}

<h1>Hello, world!</h1>

<p>This is a template for a simple marketing or informational website. It
includes a large callout called a jumbotron and three supporting pieces of
content. Use it as a starting point to create something more unique.</p>

<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>

{% endblock jumbotron %}
{% block content %}{# --------------------------------------- CONTENT ------- #}
{% markdown %}

This is the place for some content. We really want to use **markdown** formatting
here, I hope this is going to be easy.

-   For lists
-   Like this  one

        $codeblock;
        // does it work?

-   Like this  one
    1. not forgetting
    1. numbered lists
    1. like this one

{% endmarkdown %}

{% endblock content %}

{% block bottom %}{# ---------------------------------------- BOTTOM -------- #}
{{ parent() }}
{% endblock bottom %}
